<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>signup</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>

                <app-input-with-messages labelText="name" [control]="form.controls.name" [messages]="messages.name">
                </app-input-with-messages>

                <app-input-with-messages labelText="email" [control]="form.controls.email" [messages]="messages.email">
                </app-input-with-messages>

                <app-input-with-messages labelText="password" [control]="form.controls.password"
                  [messages]="messages.password">
                </app-input-with-messages>

              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button color="primary" shape="round" size="default" routerLink="/login">
            cancel
          </ion-button>
          <ion-button [disabled]="form.invalid" color="primary" shape="round" size="default" (click)="add()">
            signup
          </ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>